extends ../../common/layout/_layout

block vars
  - var GTM = "GTM-KTQN9JG"
  - var title ="Онлайн-курс по разработке игр на Unity для начинающих - ExtraLevel"

block append styles
  link(rel='stylesheet' , href=assetsUrl + "unity/css/style.css")

block content
  // Main page start
  main

    // Fixed button on mobile
    .wrap-fixed-button
      .wrap
        img(src="unity/images/fixed-img.svg")
        p Первый модуль курса - <span>бесплатно!</span>
        a(href="#free-study").popup-modal
          img(src="unity/images/btn-icon.svg")
          |Получить

    // Header
    header
      .container
        .row.center

          .col-md-3.col-6
            .logo
              a(href="https://www.extralevel.ru/"): img(src=assetsUrl + "unity/images/logo.svg")

          .col-lg-4.col-md-9.col-6
            nav.navbar.navbar-expand-lg.navbar-light
              button.navbar-toggler.toggle-nav(type="button" , data-bs-toggle="collapse" , data-bs-target="#navbarSupportedContent" , aria-controls="navbarSupportedContent" , aria-expanded="false" , aria-label="Toggle navigation")
                span
                span
                span
              div#navbarSupportedContent.collapse.navbar-collapse
                ul
                  li: a(href="https://www.extralevel.ru/" , target="_blank") Курсы

                .header-contact.d-lg-none.d-flex
                  a(href="#want-study").primary-btn.popup-modal Начать учиться
                  a(href="tel: +74959662866").header-phone +7 (495) 966-28-66


          .col-md-5
            .header-contact
              a(href="tel: +74959662866").header-phone +7 (495) 966-28-66
              a(href="#want-study").primary-btn.popup-modal Начать учиться

    // Intro
    section.intro
      .container.position-relative
        //.sale
          span 25%
          |Скидка при <br> оплате до <br> 31 мая

        .row
          .col-md-6
            .intro-description
              //h1 Онлайн-курс <br> по разработке <br> игр на Unity <br> для начинающих
              h1 Научим зарабатывать на играх
              h4 Онлайн-курс по разработке игр на Unity
              p Вы освоите язык программирования C#, научитесь создавать мобильные игры на популярном игровом движке  Unity, создадите свой первый проект для портфолио и обретете востребованную в геймдеве профессию
              a(href="#price-study").primary-btn.brand-btn.d-none.d-md-inline-block.scroll-down Получить бесплатный урок и консультацию

          .col-md-6
            ul.additional-info.intro-info.d-md-none.d-inline-block
              li
                |Длительность: <span>3 месяца</span>
              li
                |Формат лекций: <span>видео</span>
              li
                |Доступ к курсу: <span>навсегда</span>

            .hero-img
              img(src=assetsUrl + "unity/images/hero.png").hero-person
              img(src=assetsUrl + "unity/images/hero-bg.png").hero-bg
              img(src=assetsUrl + "unity/images/hero-figure.png").hero-figure

          .col-md-12
            a(href="#price-study").primary-btn.brand-btn.d-block.d-md-none.scroll-down Получить бесплатный урок и консультацию
            ul.additional-info
              li
                |Длительность: <span>3 месяца</span>
              li
                |Формат лекций: <span>видео</span>
              li
                |Доступ к курсу: <span>навсегда</span>

    // What you learn
    section.what-learn
      .container.position-relative
        h2.title-circle: span Чему вы научитесь

        .what-learn-img
          img(src=assetsUrl + "unity/images/what-learn-img.png")
          //img(src="unity/images/Book-particles.gif").effect-img
        #what-learn-row.row
          .col-lg-9.col-md-12
            .row
              .col-md-6.col-lg-4
                .learn-item
                  span 01
                  p Работать с редактором, располагать и перемещать объекты, работать со сценами и префабами

              .col-md-6.col-lg-4
                .learn-item
                  span 02
                  p Создавать игровую логику с помощью компонентов MonoBehaviour.

              .col-md-6.col-lg-4
                .learn-item
                  span 03
                  p Разрабатывать архитектуру игры, взаимодействовать с объектами и скриптами, работать с компонентами

              .col-md-6.col-lg-4
                .learn-item
                  span 04
                  p Понимать и применять паттерны, декомпозировать задачи для выбора оптимального шаблона

              .col-md-6.col-lg-4
                .learn-item
                  span 05
                  p Внедрять и настраивать SDK для монетизации

              .col-md-6.col-lg-4
                .learn-item
                  span 06
                  p Собирать и публиковать игры на мобильных платформах iOS и Android

          h4 И другим необходимым в работе навыкам

          .wrap-video
            a(href="https://www.youtube.com/watch?v=yDWsu7IyDNc").popup-youtube.d-block
              img(src=assetsUrl + "unity/images/video-1.png")

              button.video-play.popup-youtube
                img(src=assetsUrl + "unity/images/video-btn.png")

    // Author
    section.author-course
      .container
        h2 Автор курса

        .row
          .col-md-6.col-lg-5
            .author-img
              img(src=assetsUrl + "unity/images/author.png")

          .col-lg-7.col-md-6
            .author-info
              h5 Алексей Лукьянов
              .author-position Lead Developer в Azur Games <br> (Robot Warfare)
              .author-experience Написал собственный 3D-движок, принимал участие в разработке SDK фреймворков для Unity. Опыт в программировании: 25 лет

        .experts
          h3 Приглашенные эксперты

          //.experts-slider
          .row

            .col-lg-6.col-md-6
              .expert-item
                .expert-img
                  img(src=assetsUrl + "unity/images/expert-1.png")
                h5 Антон Кругляков
                .author-position Enterprise Developer Relations Manager в компании Unity
                p Расскажет о практиках ведущих разработчиков в индустрии, чтобы вы могли освоить актуальные навыки


            .col-lg-6.col-md-6
              .expert-item
                .expert-img
                  img(src=assetsUrl + "unity/images/expert-2.jpg")
                h5 Сергей Шапошников
                .author-position Team Lead Unity в Crazy Panda
                p Расскажет от том, как устроены рендеринг и шейдеры в Unity, а также поможет с оптимизацией вашего проекта

    // For
    section.for-who
      .container
        h2 Кому подойдет этот курс

        .row
          .col-md-6
            .who-item
              .who-img
                img(src=assetsUrl + "unity/images/who-1.png")
              h5 Любителям игр без опыта работы в геймдеве
              p Вы любите видеоигры с самого детства и всегда мечтали о работе в игровой индустрии, но тогда на рынке не было необходимого образования

          .col-md-6
            .who-item
              .who-img
                img(src=assetsUrl + "unity/images/who-2.png")
              h5 Тем, кто хочет сменить профессию
              p Вы уже работаете в схожей или совершенно другой сфере, но хотите поменять ее на геймдев, чтобы это стало вашей основной профессией

          .col-md-12
            h4.two-circle: span Персональный подход к каждому студенту поможет достичь <br> лучшего результата
            ul.personal-list
              li Вы получаете доступ к закрытому чату в «Телеграме» с другими студентами и кураторами, которым всегда можно задать вопрос
              li Кураторы проверяют домашние задания и дают фидбэк
              li В конце курса вы попадаете в практическую лабораторию — акселератор — с менторами, которые помогут вам объединиться с другими студентами в совместные проекты

    // How study
    section.how-study
      .container
        h2 Как проходит обучение

        .row
          .col-lg-3.col-md-6
            .study-item
              .study-img
                img(src=assetsUrl + "unity/images/study-1.png")
              .study-title
                span 1
                |Изучаете <br> тему
              p На курсе будут практические видеоуроки

          .col-lg-3.col-md-6
            .study-item
              .study-img
                img(src=assetsUrl + "unity/images/study-2.png")
              .study-title
                span 2
                |Выполняете домашние задания
              p В удобном для вас темпе

          .col-lg-3.col-md-6
            .study-item
              .study-img
                img(src=assetsUrl + "unity/images/study-3.png")
              .study-title
                span 3
                |Работаете с наставником
              p Закрепляете знания и работаете над ошибками

          .col-lg-3.col-md-6
            .study-item
              .study-img
                img(src=assetsUrl + "unity/images/study-4.png")
              .study-title
                span 4
                |Получаете игру для портфолио
              p С которой уже можно начинать карьеру в геймдеве

          .col-md-12.text-center
            a(href="#want-study").primary-btn.brand-btn.popup-modal Получить бесплатный урок и консультацию

    // Program
    section.program
      .container
        .row.center
          .col-lg-6.col-6
            h2.title-circle: span Программа

          .col-lg-6.col-6
            .program-effect
              img(src=assetsUrl + "unity/images/program-img.png")
              img(src=assetsUrl + "unity/images/Cristal_particles.gif").effect-img

        .row.align
          .col-md-6
            .lesson-desc
              p Вас ждут онлайн-лекции и практические задания на основе реальных кейсов
          .col-md-3.col-sm-6
            .lesson-desc.green
              p 17 <br> тематических модулей
          .col-md-3.col-sm-6
            .lesson-desc.green
              p 60 <br> онлайн-уроков

          .col-md-12
            .program-list
              .program-list-item
                b
                  span 1
                  |  Введение в Unity, часть 1:
                |Установка, знакомство с интерфейсом и инструментами, установка Visual Studio IDE

              .program-list-item
                b
                  span 2
                  |  Введение в Unity, часть 2:
                |Гейм объекты, компоненты, камера, UI Canvas

              .program-list-item
                b
                  span 3
                  |  Введение в программирование.
                |Основы C# — переменные, операторы присваивания, ветвления, циклы. Типы данных, коллекции

              .program-list-item
                b
                  span 4
                  |  Компоненты MonoBehaviour, event функции Unity, публичные поля.
                |Методы. Создаем свой первый компонент

              .program-list-item
                b
                  span 5
                  |  Работа с пользовательским вводом.
                |Заставляем персонажа двигаться и учим его стрелять

              .program-list-item
                b
                  span 6
                  |  Основы физики в Unity. Коллайдеры, rigidbody, настройки физики.
                |Определяем попадания

              .program-list-item
                b
                  span 7
                  |  Понятие о векторной математике, Quaternions, работа с триггерными функциями.
                |Делаем отскок снарядов от стен

              .program-list-item
                b
                  span 8
                  |  Изучение компонентной модели, взаимодействие скриптов, объектная модель компонентов.
                |Создаем компонент «Противник» и наносим по нему урон. Делаем спецэффект попадания

              .program-list-item
                b
                  span 9
                  |  Работа со звуком. Audio Listener и Audio Source.
                |Добавляем в игру звук

              .program-list-item
                b
                  span 10
                  |  AI противников.
                |Понятие о конечных автоматах и машинах состояний. Заставляем противников двигаться и атаковать

              .program-list-item
                b
                  span 11
                  |  Scriptable Object. PlayerPrefs.
                |Делаем настройки противников и сохранение прогресса игры

              .program-list-item
                b
                  span 12
                  |  UI. Canvas, элементы UI, работа с RectTransform. UI кнопки.
                |Делаем UI игры

              .program-list-item
                b
                  span 13
                  |  Анимация в Unity. Стейты анимации. Работа с Animator из кода.
                |Заставляем персонажей двигаться

              .program-list-item
                b
                  span 14
                  |  Состояние игры. Игровые менеджеры. Static классы, паттерн Singleton.
                |Делаем экран поражения и рестарта игры

              .program-list-item
                b
                  span 15
                  |  Специфика работы с мобильными платформами.
                |Touch Input. Виртуальные джойстики. Сборка проекта под Android и iOS

              .program-list-item
                b
                  span 16
                  |  Работа в команде.
                |Системы контроля версий. Осваиваем Git

              .program-list-item
                b
                  span 17
                  |  Заключение.
                |Опыт собеседований при приеме на работу

    // Example of work
    section.works
      .container
        h2 Так выглядят работы наших студентов.
        h3 Вы тоже так сможете:

        .example-slider
          .example-item
            img(src=assetsUrl + "unity/images/work-1.jpg")
          .example-item
            img(src=assetsUrl + "unity/images/work-2.png")
          .example-item
            img(src=assetsUrl + "unity/images/work-3.jpg")
          .example-item
            img(src=assetsUrl + "unity/images/work-4.png")

    // Price of study
    section.price-study
      .container
        .row
          .col-md-6
            .cost
              .cost-with-sale
                |Стоимость <br> обучения

              .current-price <span>от</span> 2 417 ₽ <span>/ месяц*</span>

              //.current-price 29 000 ₽
              //.past-price 39 000 ₽

              .price-part
                //p Полная цена:
                //p.one-time-price 29 000 ₽ <span>39 000₽</span>
                p *Рассрочка без процентов и переплат от банка-партнера Тинькофф

          .col-md-6
            #price-study.sign-to-course
              .time-course
                p Старт курса: <span>15 июня</span>
                p Осталось: <span>10 мест</span>

              //.title-form Записаться на курс или получить бесплатную консультацию
              .title-form Получить консультацию и первый модуль курса бесплатно
              .success <span>Спасибо за заявку!</span> Менеджер скоро с вами свяжется

              form(name="getCourse" , method="post" , action=amoServiceUrl)#getCourse.free-consult
                .form-row
                  input(type="text" , name="name" , placeholder="Имя и фамилия" , required)
                  label.error-label Некорректные данные
                .form-row
                  input(type="phone" , name="phone" , placeholder="Телефон" , required)
                  label.error-label Некорректные данные
                //.form-row
                  input(type="email" , name="email" , placeholder="Email" , required)
                  label.error-label Некорректные данные

                input(name="email" type="hidden" value="empty@mail.com")
                input(name="course" type="hidden" value="740185")
                input(name="page" type="hidden" value="Разработка игр на Unity для начинающих")
                input(name="source" type="hidden" value="741895")

                .form-row: button(type="submit") Записаться
              //.free-consult
                <script id="amoforms_script_769354" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1618840462"></script>
                <script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"769354",hash:"206fd15000bf386dbb812f16193b2c3a",locale:"ru"})}(window,0,"amo_forms_","params","load");</script>

              p.personal-data Нажимая на кнопку, я соглашаюсь на <a href="https://www.extralevel.ru/landing/privacy_policy.pdf" , target="_blank">обработку персональных данных.</a>

    // Faq
    section.faq
      .container
        .row.bottom
          .col-md-8
            h2 Часто задаваемые вопросы

          .col-md-4
            img(src=assetsUrl + "unity/images/faq-img.png").faq-img

        .faq-wrap
          .faq-item
            .faq-title Я никогда не работал с движком Unity. У меня получится?
            p Рекомендуем познакомиться с интерфейсом программы до прохождения курса. Так вы сможете убедиться в том, что конфигурация вашего компьютера подходит для работы с Unity.

          .faq-item
            .faq-title Какой график обучения? Получится ли совмещать его с работой?
            p С материалами курса можно работать в удобное время, двигаясь по программе в подходящем для вас темпе. Все уроки будут навсегда доступны по окончании курса, так что вы в любой момент сможете освежить свои знания. Обучение организовано таким образом, чтобы вы могли совмещать его с работой, учебой и личной жизнью.

          .faq-item
            .faq-title Сколько часов в неделю мне нужно будет уделять учёбе?
            p Все зависит от вас. В среднем наши студенты занимаются от двух до четырех часов в неделю.

          .faq-item
            .faq-title Я смогу общаться с преподавателями?
            p У вас будет свой куратор в чате «Телеграма», а преподаватель курса прокомментирует домашние задания и даст полезный фидбэк. Это поможет вам перенять уникальный опыт, профессиональные знания и необходимые в работе лайфхаки.

          .faq-item
            .faq-title Действуют ли какие-нибудь программы рассрочки?
            p Да, вы можете купить курс в рассрочку и спланировать свой бюджет, разбив всю сумму на небольшие ежемесячные платежи.

          .faq-item
            .faq-title У меня нет опыта в программировании. Я могу пройти курс?
            p Этот курс сможет пройти каждый, кто действительно в этом заинтересован. На нем вы получите все необходимые основы программирования для работы в игровой индустрии.


  // Footer start
  include ../elements/_footer

block append scripts
  // Main script
  script(src=assetsUrl + "unity/js/main.js")
