footer
  .container
    .row

      .col-lg-4.col-md-4.col-6
        p г. Москва, <br> Большая Калитниковская, д.42, <br> этаж 3, офис 303
        .footer-logo
          a(href="https://www.extralevel.ru/"): img(src=assetsUrl + "unity/images/logo.svg")

      .col-lg-4.col-md-4.col-6
        .footer-contact
          p: a(href="tel: +74959662866").footer-phone +7 (495) 966-28-66
          p: a(href="mailto: hello@extralevel.ru").footer-email hello@extralevel.ru

        .social-nav
          a(href="https://www.facebook.com/extralevel/" , target="_blank"): img(src=assetsUrl + "unity/images/facebook.svg")
          a(href="https://instagram.com/extralevelschool?r=nametag" , target="_blank"): img(src=assetsUrl + "unity/images/instagram.svg")
          a(href="https://vk.com/xtralevel" , target="_blank"): img(src=assetsUrl + "unity/images/vk.svg")

      .col-lg-4.col-md-4
        ul.footer-nav
          li: a(href=assetsUrl +"common/docs/oferta.pdf" , target="_blank") Договор оферты
          li: a(href=assetsUrl +"common/docs/privacy_policy.pdf" , target="_blank") Политика конфиденциальности


#want-study.mfp-hide.white-popup-block
  .title-popup ЗАПИСАТЬСЯ НА КУРС ИЛИ ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
  .success <span>Спасибо за заявку!</span> Менеджер скоро с вами свяжется

  form(name="getCourse-popup" , method="post" , action=amoServiceUrl)#getCourse-popup.popup-form
    .form-row
      input(type="text" , name="name" , required)
      b.placeholder Имя
      label.error-label Некорректные данные
    .form-row
      input(type="phone" , name="phone" , required)
      b.placeholder Телефон
      label.error-label Некорректные данные
    .form-row
      input(type="email" , name="email" , required)
      b.placeholder Email
      label.error-label Некорректные данные

    input(name="course" type="hidden" value="740185")
    input(name="page" type="hidden" value="Разработка игр на Unity для начинающих")
    input(name="source" type="hidden" value="741895")

    .form-row.text-center: button(type="submit").primary-btn.brand-btn Записаться

  p.personal-data Нажимая на кнопку, я соглашаюсь <br> на <a href="#{assetsUrl}common/docs/privacy_policy.pdf" target="_blank">обработку персональных данных.
